#square {
  background: rgb(202, 119, 50);
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  animation-duration: 3s;
  animation-name: desaparecer;
  animation-iteration-count: infinite;
}
@keyframes desaparecer{
  from{background-color: #8c8c3b;}
  to{background-color: white;}
}

#circle { 
  background: lightblue;
  border-radius: 50%;
  width: 200px;
  height: 200px; 
} 
#circle:hover { 
  padding: 30px; 
  background: rgb(80, 136, 219); 
  color: white; 
} 
#circle:active { 
  padding: 30px; 
  background: gray; 
  color: white; 
} 

.bluetriangle {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 80px solid blue;
}
.pinktriangle {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 80px solid pink;
}
.redtriangle {
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 80px solid red;
}

